@import 'global';
.hero-1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: url("../images/car(dark).jpg") no-repeat center center; 
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    margin-bottom: 2.5rem;
}

// .container-fluid {
//     padding: 0;
// }

.circle-1 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 6.25rem;
    background-color: #276D82;
}
.circle-2 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 6.25rem;
    background-color: #E4EBF2;
}
.circle-3 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 6.25rem;
    background-color: #8a8683;
}
.circle-4 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 6.25rem;
    background-color: #8ED3F4;
}

.libre {
    & h3, & h5, & p {
        font-family: 'Libre Baskerville';
    }
    
}
.raleway {
    & h3, & h5, & p {
        font-family: 'Raleway';
    }
}
i {
    font-size: 4rem;
    color: $primary;
    margin: .5rem 3rem 1rem;
 }

