@import 'global';

header {
    height: 100vh;
    
    & .grid {
        display: grid;
        place-items: center;
        height: 100vh;
    }
}
main {

    & img {
        margin: .5rem 0;
        border: 1px solid $primary;
    }
    & i {
        font-size: 4rem;
        color: $light;
        margin: .5rem 3rem 1rem;
     }
    
    & p.large {
        font-size: 1.5rem;
        margin: 1rem 0 2.5rem;
    }
}



